## Save Dataframe to MySQL

In [1]:
import numpy as np
import pandas as pd

In [2]:
crf_beer = pd.read_csv('../BeerDB/crf_beer_us.csv')
crf_beer.head()

,beer_name,beer_abv,beer_ibu,beer_srm,beer_kcal,national_id,category_id,brewery_id,description,ounces
0,Pub Beer,0.050,NaN,NaN,NaN,america,American Pale Lager,408,NaN,12.0
1,Devil's Cup,0.066,NaN,NaN,NaN,america,American Pale Ale (APA),177,NaN,12.0
2,Rise of the Phoenix,0.071,NaN,NaN,NaN,america,American IPA,177,NaN,12.0
3,Sinister,0.090,NaN,NaN,NaN,america,American Double / Imperial IPA,177,NaN,12.0
4,Sex and Candy,0.075,NaN,NaN,NaN,america,American IPA,177,NaN,12.0

In [3]:
crf_beer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2387 entries, 0 to 2386
Data columns (total 10 columns):
beer_name      2387 non-null object
beer_abv       2326 non-null float64
beer_ibu       1392 non-null float64
beer_srm       0 non-null float64
beer_kcal      0 non-null float64
national_id    2387 non-null object
category_id    2383 non-null object
brewery_id     2387 non-null int64
description    0 non-null float64
ounces         2387 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 186.6+ KB

In [4]:
from db_util import save_db

In [5]:
save_db(df=crf_beer, table='beer')

Saved successfully!!